<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PomoTimer</title>
    <link rel="stylesheet" href="../css/style.css">
    <meta http-equiv="Content-Security-Policy" content="
    default-src 'self';
    script-src 'self';
    style-src 'self';
    font-src 'self';
    object-src 'none';
    connect-src 'self';
    img-src 'self' data:;
    ">
</head>
<body>
    <h1 id="title">POMOTIMER</h1>
    
    <div id="container">
        <div class="toggle-container">
            <button data-value="Focus" class="active" id="FocusButton">Foco</button>
            <button data-value="ShortBreak" id="ShortBreakButton">Pausa</button>
            <button data-value="LongBreak" id="LongBreakButton">Descanso</button>
        </div>
        
        <h1 id = 'label'>Foco</h1>
        
        <div id="subcontainer">
            <h1 id = 'timer'>--:--</h1>
            <button class="start" id="start"><strong>START</strong></button>
            <button class="start" id="skip"><strong>▶︎|</strong></button>
        </div>
    </div>
    <br>
    
    <button id="config">⚙️</button>

    <script src="../js/lib/easytimer.min.js"></script> 
    <script src="../js/scripts.js"></script>
</body>
</html>